<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary mb-3">
    <div class="flex-row d-flex">
        <a routerLink="" class="navbar-band nav-link text-light">SU<span>AN</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink="" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="" class="nav-item">Nav</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row row-offcanvas row-offconvas-left">
        <div class="col-3  bg-info">

            <ul class="nav flex-column stickt-top pl-0 pt-5 mt-3">
                <li class="nav-item">
                    <a class="nav-link" (click)="showSection('Item1')"> Item 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="showSection('Item2')"> Item 2</a>
                </li>
            </ul>

        </div>

        <div class=" col-9 pt-5  ">

            <div *ngIf="selectedSection === 'Item1'">
                <!-- Content for Item 1 -->
                <p>Item 1 Content Goes Here</p>
            </div>

            <div *ngIf="selectedSection === 'Item2'">
                <!-- Content for Item 2 -->
                <p>Item 2 Content Goes Here</p>
            </div>
        </div>

    </div>
</div>


<div class="sidebar-bg"></div>