

  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar d-flex flex-column">
        <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar"
          aria-controls="default-sidebar" type="button"
          class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
        
        </button>
        <div class="sidebar-sticky flex-grow-1">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" (click)="showSection('overview')">
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="showSection('products')">
                Product
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="showSection('order')">
                Order
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="showSection('user')">
                User
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="signout()">
                Sign Out
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="b">
          <!-- Overview Section -->
          <div *ngIf="selectedSection==='overview'">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores enim optio animi reprehenderit
              perspiciatis libero totam doloribus facilis nulla blanditiis!</h1>
          </div>

          <!-- Product Section -->
          <div *ngIf="selectedSection==='products'" class="mx-6 my-5">
          <app-dashboard-product></app-dashboard-product>
          </div>

          <!-- Order Section -->
          <div *ngIf="selectedSection==='order'" class="my-6 mx-5">
            <!-- Your order section content here with Bootstrap classes -->
          </div>

          <!-- User Section -->
          <div *ngIf="selectedSection==='user'" class="my-6 mx-5">
            <!-- Your user section content here with Bootstrap classes -->
          </div>
        </div>
      </main>
    </div>
  </div>

 